dist/truby-ppu.html
<!DOCTYPE html>
<html class="no-js s-page" lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <meta name="google" value="notranslate">
  <meta name="msapplication-TileColor" content="#5bbad5">
  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">
  <title>Трубы ППУ</title>
  <meta name="description" content="">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
  <link rel="stylesheet" href="css/style.min.css">
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
</head>

<body><noscript>JavaScript is disabled</noscript>
  <div class="s-page__inner">
    <div class="s-page__content">
      <nav class="s-main-nav">
        <div class="container">
          <ul class="s-main-nav__list">
            <li class="s-main-nav__item"><a class="s-main-nav__link" href="/">Главная</a></li>
            <li class="s-main-nav__item"><a class="s-main-nav__link" href="/">О компании</a></li>
            <li class="s-main-nav__item  s-main-nav__item--has-child"><a class="s-main-nav__link" href="/">Продукция</a>
              <div class="s-main-nav__sublist-wrapper  s-main-nav__sublist-wrapper--lvl-2">
                <ul class="s-main-nav__list  s-main-nav__list--lvl-2">
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Черный металлопрокат</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Нержавеющий металлопрокат</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Цветной металлопрокат</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Трубы ППУ</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Сетка сварная</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Профнастил</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Металлоконструкции</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Услуги</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Трубы</a></li>
                </ul>
              </div>
            </li>
            <li class="s-main-nav__item  s-main-nav__item--has-child"><a class="s-main-nav__link" href="/">Металлообработка</a>
              <div class="s-main-nav__sublist-wrapper  s-main-nav__sublist-wrapper--lvl-2">
                <ul class="s-main-nav__list  s-main-nav__list--lvl-2">
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Гибка металлов</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Гибка арматуры</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Рубка гильотиной</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Перфорирование листов</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Оцинкование</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Порошкаовая покраска</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Фрезерные работы</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Токарная обработка</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Поперечная резка рулонов</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Плазменная резка</a></li>
                </ul>
              </div>
            </li>
            <li class="s-main-nav__item"><a class="s-main-nav__link" href="/">Прайс-лист</a></li>
            <li class="s-main-nav__item"><a class="s-main-nav__link" href="/">Логистика</a></li>
            <li class="s-main-nav__item"><a class="s-main-nav__link" href="/">Расчет</a></li>
            <li class="s-main-nav__item"><a class="s-main-nav__link" href="/">Контакты</a></li>
          </ul>
        </div>
      </nav>
      <header class="s-page-header" role="banner">
        <div class="container">
          <div class="row align-items-center">
            <div class="col- col-xl-2 order-xl-1"><a class="s-logo" href="/"><img src="img/logo1.png" alt="Logo" /></a></div>
            <div class="col- col-xl-3 order-xl-2"><span class="s-page-header__desc s-strong">Поставки металлопроката и производство металлоконструкций по всей России
              </span></div>
            <div class="col- col-xl-3 order-xl-4">
              <ul class="s-page-header__contact-list">
                <li><span class="s-page-header__contact-icon phone"></span><a href="tel:88123096866">+7 812 309 68 66</a></li>
                <li><span class="s-page-header__contact-icon e-mail"></span><a href="mailto:zakaz@pk-rm.ru">zakaz@pk-rm.ru</a></li>
                <li>Работаем ежедневно: с 09:00 до 19:00
                </li>
              </ul>
            </div>
            <div class="col- col-xl-4 order-xl-3">
              <form class="s-form">
                <div class="s-form__desc">Заявка на расчёт стоимости металлопроката</div><label class="s-field-text s-field-text--name"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="Введите имя" /></span></label><label class="s-field-text s-field-text--phone"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="Введите телефон" /></span></label>
                <div class="s-field-file"><label class="s-field-file__input-wrap"><input class="s-field-file__input" type="file" />
                    <div class="s-field-file__image s-field-file__image--blue"></div>
                  </label></div>
                <div class="s-field-actions"><button class="s-btn">Отправить заявку</button></div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="s-info-layout">
        <div class="container">
          <div class="row">
            <div class="col- col-sm-4">
              <div class="s-info-layout__aside">
                <aside class="s-main-aside">
                  <ul>
                    <li><a href="/">Черный металлопрокат</a></li>
                    <li><a href="/">Нержавеющий металлопрокат</a></li>
                    <li><a href="/">Цветной металлопрокат</a></li>
                    <li><a href="/">Трубы ППУ</a></li>
                    <li><a href="/">Сетка сварная</a></li>
                    <li><a href="/">Профнастил</a></li>
                    <li><a href="/">Металлоконструкции</a></li>
                    <li><a href="/">Услуги</a>
                      <ul>
                        <li><a href="/">Резка металла</a></li>
                        <li><a href="/">Резка металлопроката</a></li>
                        <li><a href="/">Раскрой металла</a></li>
                        <li><a href="/">Лазерная сварка металла</a></li>
                        <li><a href="/">Рубка металла</a></li>
                      </ul>
                    </li>
                    <li><a href="/">Сетка арматурная</a>
                      <ul>
                        <li><a href="/">Сетка кладочная</a></li>
                        <li><a href="/">Арматурные каркасы</a></li>
                        <li><a href="/">Дорожная сетка</a></li>
                        <li><a href="/">Сетка оцинкованная</a></li>
                      </ul>
                    </li>
                    <li><a href="/">ГОСТы</a></li>
                    <li><a href="/">Металл</a>
                      <ul>
                        <li><a href="/">Купить металлопрокат</a></li>
                        <li><a href="/">Металлопрокат оптом</a></li>
                        <li><a href="/">Оцинкованный металл</a></li>
                        <li><a href="/">Листовой металлопрокат</a></li>
                        <li><a href="/">Трубный металлопрокат</a></li>
                        <li><a href="/">Сортовой металлопрокат</a></li>
                      </ul>
                    </li>
                    <li><a href="/">Арматура</a>
                      <ul>
                        <li><a href="/">Арматура для фундамента</a></li>
                        <li><a href="/">Арматура АI (А1) для фундамента</a></li>
                        <li><a href="/">Арматура А3 (АIII)</a></li>
                        <li><a href="/">Арматура А500С</a></li>
                        <li><a href="/">Катанка</a></li>
                        <li><a href="/">Сварочная проволока</a></li>
                      </ul>
                    </li>
                    <li><a href="/">Пластиковые трубы</a>
                      <ul>
                        <li><a href="/">Трубы ПВД</a></li>
                        <li><a href="/">Трубы ПВХ</a></li>
                        <li><a href="/">Трубы ПНД</a></li>
                      </ul>
                    </li>
                    <li><a href="/">Профлист</a></li>
                    <li><a href="/">Детали трубопроводов</a></li>
                  </ul>
                </aside>
              </div>
            </div>
            <div class="col- col-sm-8">
              <div class="s-info-layout__content">
                <ul class="s-breadcrumb" aria-label="Breadcrumb" role="navigation">
                  <li class="s-breadcrumb__item"><a href="/home">Главная</a></li>
                  <li class="s-breadcrumb__item"><span>Трубы ППУ</span></li>
                </ul>
                <section class="s-about">
                  <h1 class="s-about__title">Трубы ППУ в Санкт-Петербурге</h1>
                  <div class="s-about__text"><img src="img/truby-ppu-v-spb.jpg" alt="" style="float: right; margin: 0 0 10px 10px; width: 283px; height: auto">
                    <p>Черный металлопрокат занимает основную долю выпуска всего металлопроката. Он имеет широкое применение в строительстве зданий, коммуникационных сетей, трубопроводов, рельсовых путей. Мы реализуем все основные виды черного проката от ведущих металлургических комбинатов: НЛМК (около 20% выпуска стали в РФ), Северсталь, ОМК, ЧТПЗ. Прямые поставки от производителя гарантируют низкую цену и высокое качество продукции. Весь реализуемый прокат соответствует требованиям ГОСТ, что допускает его применение в самых ответственных областях строительства.</p>
                    <p>Наибольшим спросом пользуются следующие виды:
                    </p>
                    <ol>
                      <li>для подземной прокладки – трубы в оцинкованной оболочке;</li>
                      <li>для наземной прокладки – трубы в полиэтиленовой оболочке.</li>
                    </ol>
                    <p>Все трубы изготавливаются с использованием современных технологий, а также из самых качественных материалов. Они имеют высокую антикоррозийную стойкость. Чтобы купить трубы ППУ в Санкт-Петербурге, вы можете оставить заявку на сайте или заказать звонок.
                    </p>
                    <form class="s-form">
                      <fieldset class="s-form__fieldset">
                        <legend class="s-form__legend">Оставьте заявку на расчет стоимости труб ППУ</legend>
                        <div class="row">
                          <div class="col- col-md-5"><label class="s-field-text s-field-text--name"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="Введите имя" /></span></label><label class="s-field-text s-field-text--phone"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="Введите телефон" /></span></label><label class="s-field-text s-field-text--e-mail"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="Введите email" /></span></label></div>
                          <div class="col- col-md-7">
                            <div class="row">
                              <div class="col-12"><label class="s-field-text"><span class="s-field-text__input-wrap"><textarea class="s-field-text__input" name="test" placeholder="Текст сообщения"></textarea></span></label></div>
                              <div class="col-4 align-self-center">
                                <div class="s-field-file"><label class="s-field-file__input-wrap"><input class="s-field-file__input" type="file">
                                    <div class="s-field-file__image s-field-file__image--blue"></div>
                                  </label></div>
                              </div>
                              <div class="col-8 align-self-end">
                                <div class="s-field-actions"><button class="s-btn">Отправить заявку</button></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                    <h3 class="s-about__subtitle">Почему трубы ППУ покупают в ООО «Русский Металл»</h3>
                    <p>Наша компания стабильно развивается и мы можем предложить Вам интересные условия сотрудничества, которые делают сотрудничество с нами выгодным и перспективным:</p>
                    <ul>
                      <li>Мы сотрудничаем с крупнейшими производителями труб ППУ в России;</li>
                      <li>Стабильно развиваемся в течение 5-ти лет;</li>
                      <li>Вы можете оплатить через наличный и безналичный расчет;</li>
                      <li>Рассчитаем стоимость необходимой продукции в течении 10-15 минут.</li>
                    </ul>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-feedback">
        <div class="container">
          <div class="row">
            <div class="col- col-md-4 col-lg-5">
              <div class="s-feedback__info">
                <div class="s-h2 s-feedback__title">Остались вопросы?</div>
                <ul class="s-feedback__info-list">
                  <li class="s-feedback__info-item"><span class="s-feedback__desc">Звоните на телефон</span><span class="s-feedback__icon zayavka-phone"></span><a href="tel:88123096866">+7 812 309 68 66</a></li>
                  <li class="s-feedback__info-item"><span class="s-feedback__desc">Или напишите нам на почту</span><span class="s-feedback__icon e-mail"></span><a href="mailto:zakaz@pk-rm.ru">zakaz@pk-rm.ru</a></li>
                </ul>
              </div>
            </div>
            <div class="col- col-md-8 col-lg-7">
              <form class="s-form">
                <fieldset class="s-form__fieldset">
                  <legend class="s-form__legend">Заполните форму и мы ответим Вам!</legend>
                  <div class="row">
                    <div class="col-12"><label class="s-field-text s-field-text--name"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="Введите имя" /></span></label><label class="s-field-text s-field-text--phone"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="Введите телефон" /></span></label><label class="s-field-text"><span class="s-field-text__input-wrap"><textarea class="s-field-text__input" name="test" placeholder="Текст сообщения"></textarea></span></label></div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-12 col-md-4">
                          <div class="s-field-file"><label class="s-field-file__input-wrap"><input class="s-field-file__input" type="file" />
                              <div class="s-field-file__image"></div>
                            </label></div>
                        </div>
                        <div class="col-12 col-md-8">
                          <div class="s-field-actions"><button class="s-btn">Отправить сообщение</button></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      <nav class="s-main-nav">
        <div class="container">
          <ul class="s-main-nav__list">
            <li class="s-main-nav__item"><a class="s-main-nav__link" href="/">Главная</a></li>
            <li class="s-main-nav__item"><a class="s-main-nav__link" href="/">О компании</a></li>
            <li class="s-main-nav__item  s-main-nav__item--has-child"><a class="s-main-nav__link" href="/">Продукция</a>
              <div class="s-main-nav__sublist-wrapper  s-main-nav__sublist-wrapper--lvl-2">
                <ul class="s-main-nav__list  s-main-nav__list--lvl-2">
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Черный металлопрокат</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Нержавеющий металлопрокат</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Цветной металлопрокат</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Трубы ППУ</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Сетка сварная</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Профнастил</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Металлоконструкции</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Услуги</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Трубы</a></li>
                </ul>
              </div>
            </li>
            <li class="s-main-nav__item  s-main-nav__item--has-child"><a class="s-main-nav__link" href="/">Металлообработка</a>
              <div class="s-main-nav__sublist-wrapper  s-main-nav__sublist-wrapper--lvl-2">
                <ul class="s-main-nav__list  s-main-nav__list--lvl-2">
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Гибка металлов</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Гибка арматуры</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Рубка гильотиной</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Перфорирование листов</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Оцинкование</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Порошкаовая покраска</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Фрезерные работы</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Токарная обработка</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Поперечная резка рулонов</a></li>
                  <li class="s-main-nav__item  s-main-nav__item--lvl-2"><a class="s-main-nav__link  s-main-nav__link--lvl-2" href="/">Плазменная резка</a></li>
                </ul>
              </div>
            </li>
            <li class="s-main-nav__item"><a class="s-main-nav__link" href="/">Прайс-лист</a></li>
            <li class="s-main-nav__item"><a class="s-main-nav__link" href="/">Логистика</a></li>
            <li class="s-main-nav__item"><a class="s-main-nav__link" href="/">Расчет</a></li>
            <li class="s-main-nav__item"><a class="s-main-nav__link" href="/">Контакты</a></li>
          </ul>
        </div>
      </nav>
      <div class="s-useful-links">
        <div class="container">
          <ul class="s-useful-links__list">
            <li><a href="/">Магазин</a></li>
            <li><a href="/">Базы металлопроката</a></li>
            <li><a href="/">Ленинградская область</a></li>
            <li><a href="/">Выборг</a></li>
            <li><a href="/">Трубы</a></li>
            <li><a href="/">Доставка/Перевозка</a></li>
            <li><a href="/">Купить</a></li>
            <li><a href="/">Оптом</a></li>
            <li><a href="/">Цена/Стоимость</a></li>
            <li><a href="/">Сортамент и справочник</a></li>
            <li><a href="/">Марка стали</a></li>
            <li><a href="/">Ворота</a></li>
            <li><a href="/">Резка металла</a></li>
            <li><a href="/">Резка металлопроката</a></li>
            <li><a href="/">Гибка металла</a></li>
            <li><a href="/">Сварка металла</a></li>
            <li><a href="/">Рубка металла</a></li>
            <li><a href="/">Раскрой металла</a></li>
            <li><a href="/">Металл</a></li>
            <li><a href="/">Черный</a></li>
            <li><a href="/">Цветной</a></li>
            <li><a href="/">Нержавеющий</a></li>
            <li><a href="/">Алюминиевый</a></li>
            <li><a href="/">Сортовой</a></li>
            <li><a href="/">Листовой</a></li>
            <li><a href="/">Оцинкованный</a></li>
            <li><a href="/">Трубный</a></li>
            <li><a href="/">Профильный</a></li>
            <li><a href="/">Фасонный</a></li>
            <li><a href="/">Статьи</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="s-page__footer-wrapper">
      <footer class="s-page-footer" role="contentinfo">
        <div class="container">
          <div class="s-page-footer__top">
            <div class="row align-items-center">
              <div class="col- col-md-3"><a class="s-logo"><img src="img/logo-footer.png" alt="Logo" /></a></div>
              <div class="col- col-md-6"><span class="s-page-footer__desc s-strong">Поставки металлопроката и производство металлоконструкций по всей России
                </span></div>
              <div class="col- col-md-3">
                <ul class="s-page-footer__contact-list">
                  <li><span class="s-page-footer__contact-icon footer-phone"></span><a href="tel:88123096866">+7 812 309 68 66</a></li>
                  <li><span class="s-page-footer__contact-icon footer-email"></span><a href="mailto:zakaz@pk-rm.ru">zakaz@pk-rm.ru</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="s-page-footer__bottom"><span class="s-page-footer__copyright">ООО «Русский Металл» © 2017. Все права защищены</span>
            <div class="s-social-list">
              <ul class="s-social-list__list">
                <li><a href="/">
                    <div class="vk"></div>
                  </a></li>
                <li><a href="/">
                    <div class="fb"></div>
                  </a></li>
                <li><a href="/">
                    <div class="tw"></div>
                  </a></li>
                <li><a href="/">
                    <div class="gp"></div>
                  </a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
  <script src="js/script.min.js"></script>
</body>

</html>

src/truby-ppu.pug
extends pug/layout.pug

block meta
  - var title = 'Трубы ППУ';
  title= title
  meta(name='description', content='')

block header
  +main-nav()
  +page-header()

block content

  .s-info-layout
    .container
      .row
        .col-.col-sm-4
          .s-info-layout__aside
            +main-aside()

        .col-.col-sm-8
          .s-info-layout__content
            +breadcrumb()
              +breadcrumb-item('Главная', '/home')
              +breadcrumb-item('Трубы ППУ')

            section.s-about
              h1.s-about__title Трубы ППУ в Санкт-Петербурге
              .s-about__text
                img(src='img/truby-ppu-v-spb.jpg', alt='', style='float: right; margin: 0 0 10px 10px; width: 283px; height: auto')
                p.
                  Черный металлопрокат занимает основную долю выпуска всего металлопроката. Он имеет широкое применение в строительстве зданий, коммуникационных сетей, трубопроводов, рельсовых путей. Мы реализуем все основные виды черного проката от ведущих металлургических комбинатов: НЛМК (около 20% выпуска стали в РФ), Северсталь, ОМК, ЧТПЗ. Прямые поставки от производителя гарантируют низкую цену и высокое качество продукции. Весь реализуемый прокат соответствует требованиям ГОСТ, что допускает его применение в самых ответственных областях строительства.
                p.
                  Наибольшим спросом пользуются следующие виды:

                ol
                  li для подземной прокладки – трубы в оцинкованной оболочке;
                  li для наземной прокладки – трубы в полиэтиленовой оболочке.

                p.
                  Все трубы изготавливаются с использованием современных технологий, а также из самых качественных материалов. Они имеют высокую антикоррозийную стойкость. Чтобы купить трубы ППУ в Санкт-Петербурге, вы можете оставить заявку на сайте или заказать звонок.

                +form()
                  +fieldset('Оставьте заявку на расчет стоимости труб ППУ')
                    .row
                      .col-.col-md-5
                        +field-text({
                          attrs: {
                            placeholder: 'Введите имя'
                          }
                        }).s-field-text--name
                        +field-text({
                          attrs: {
                            placeholder: 'Введите телефон'
                          }
                        }).s-field-text--phone
                        +field-text({
                          attrs: {
                            placeholder: 'Введите email'
                          }
                        }).s-field-text--e-mail
                      .col-.col-md-7
                        .row
                          .col-12
                            +field-text({
                              isTextarea: true,
                              mods: '',
                              attrs: {
                                name: 'test',
                                placeholder: 'Текст сообщения',
                              }
                            })
                          .col-4.align-self-center
                            .s-field-file
                              label.s-field-file__input-wrap
                                input.s-field-file__input(type='file')
                                .s-field-file__image.s-field-file__image--blue
                          .col-8.align-self-end
                            +field-actions()
                              +btn('Отправить заявку')

                h3.s-about__subtitle Почему трубы ППУ покупают в ООО «Русский Металл»

                p.
                  Наша компания стабильно развивается и мы можем предложить Вам интересные условия сотрудничества, которые делают сотрудничество с нами выгодным и перспективным:
                ul
                  li Мы сотрудничаем с крупнейшими производителями труб ППУ в России;
                  li Стабильно развиваемся в течение 5-ти лет;
                  li Вы можете оплатить через наличный и безналичный расчет;
                  li Рассчитаем стоимость необходимой продукции в течении 10-15 минут.

  +feedback()
  +main-nav()
  +useful-links()

block footer
  +page-footer()
